@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  /* Primary */
  --marineBlue: hsl(213, 96%, 18%);
  --purplishBlue: hsl(243, 100%, 62%);
  --pastelBlue: hsl(228, 100%, 84%);
  --lightBlue: hsl(206, 94%, 87%);
  --strawberryRed: hsl(354, 84%, 57%);

  /* Neutral */

  --coolGray: hsl(231, 11%, 63%);
  --lightGray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: var(--magnolia);
}

.app {
  background-color: var(--white);
  width: 60%;
  height: 50%;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
}

.steps-list {
  width: 30%;

  background-color: var(--purplishBlue);
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem;

  list-style: none;
}

.steps-list li {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  cursor: pointer;
}

.step-number {
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 35px;
  height: 35px;

  margin-right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  background-color: transparent;
}

.step-number-selected {
  border: 1px solid var(--lightBlue);
  border-radius: 50%;
  width: 35px;
  height: 35px;

  margin-right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--marineBlue);
  background-color: var(--lightBlue);

  transition: all 0.15s ease-in-out;
}

.steps {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

label,
input {
  display: block;
}

.personal-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 30px;
}
.personal-inputs p {
}

.personal-inputs input {
  width: 100%;
  margin-top: -30px;
  padding: 10px 20px;
  border: solid 1px var(--marineBlue);
  border-radius: 5px;
}

.select-plan-step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 80%;
  width: 70%;
}
.plans-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
}
.plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 30%;
  height: auto;
  gap: 10px;
  border: solid 2px var(--coolGray);
  border-radius: 0.8rem;

  cursor: pointer;
}

.plan-selected {
  border: solid 2px var(--marineBlue);
  border-radius: 0.8rem;
  background-color: var(--pastelBlue);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 30%;
  height: auto;
  gap: 10px;

  transition: all ease-in-out 0.15s;
}
.period-select-container {
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 0.4rem;

  background-color: var(--lightGray);

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-ons-step {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  height: 80%;
  width: 70%;
}
.add-ons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  margin-top: 30px;
  width: 100%;
}
.add-on {
  border: solid 1px var(--coolGray);
  border-radius: 0.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 20px;
  cursor: pointer;
}

.add-on-selected {
  border: solid 1px var(--marineBlue);
  border-radius: 0.4rem;
  background-color: var(--pastelBlue);

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 20px;
  cursor: pointer;

  transition: all ease-in-out 0.15s;
}

.checked {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 0.3rem;

  border: solid 2px var(--marineBlue);
  background-color: var(--marineBlue);
}
.un-checked {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 0.3rem;

  border: solid 2px var(--magnolia);
  background-color: var(--white);
}
.finishing-step {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  height: 80%;
  width: 70%;
}

.sum-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0px 0px 10px 0px;
  border: none;
  border-radius: 0.7rem;
  width: 100%;

  background-color: var(--magnolia);
}

.selected-plan-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 90%;
  padding: 10px 0px;

  border-bottom: 1px solid var(--lightGray);
}
.selected-plan-container button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.selected-add-on {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 10px 0px;

  width: 90%;
}
.total-sum-up {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
}

.thank-you-step {
  height: 100%;
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;

  text-align: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-step-1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.back-button {
  border: none;
  background-color: transparent;

  padding: 1rem 2rem;

  color: var(--coolGray);
  cursor: pointer;

  transition: all ease-in-out 0.15s;
}

.back-button:hover {
  color: var(--marineBlue);
}

.next-button {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  padding: 1rem 2rem;

  background-color: var(--marineBlue);
  color: var(--white);
}

.confirm-button {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  padding: 1rem 2rem;

  background-color: var(--purplishBlue);
  color: white;
}

.attribution-p {
  text-align: center;
  margin-top: 2%;

  color: var(--marineBlue);
}

.attribution-link {
  color: var(--strawberryRed);
}

.mobile-buttons {
  position: absolute;
  width: 100%;
  padding: 15px;
  background-color: var(--white);
  display: flex;
  bottom: 0;
  left: 0;
}

@media (max-width: 1368px) {
  .app {
    width: 80%;
  }
}
@media (max-width: 968px) {
  body {
    font-size: 14px;
  }
  .app {
    width: 90%;
    height: 60%;
  }
  .select-plan-step {
    width: 90%;
  }
}

@media (max-width: 668px) {
  .app {
    width: 95%;
    height: 50%;
    flex-direction: column;
  }
  .steps-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .steps-list li {
    margin-bottom: 0;
  }
  .steps {
    justify-content: center;
    height: 80%;
    width: 100%;
  }
  .plan,
  .plan-selected {
    padding: 10px;
  }

  .select-plan-step {
    height: 100%;
  }
  .add-ons-container {
    margin-top: 10px;
  }
}
